.todo {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: monospace;

  header {
    margin: 15px;
    font-size: 1.4rem;

    span {
      font-weight: bold;
    }
  }

  form {
    width: 90%;
    margin: auto;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;

    input {
      display: block;
      margin: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 3px;
      text-align: center;
    }

    input#submit {
      cursor: pointer;
      width: 50%;
    }
  }
}


.todo ul li span, .todo ul li input {
  border: .5px solid #eee;
  display: inline-block;
  padding: .2em .25em;
  width: 300px;
}

#items {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      margin: .75em .5em;

      span {
        background: #e0e0e0;
        cursor: pointer;
      }

      span:hover {
        background: pink;
      }

      button {
        color: blue;
        cursor: pointer;
        padding: 3px;
        border-radius: 2px;
        margin: 0 .5rem;
      }
    }

    li.complete-true span {
      background: pink;
      text-decoration: line-through;
    }

    li.complete-true span:hover {
      background: seagreen;
    }
  }
}
